<html>
<head>
	<meta charset="UTf-8"/>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="js/bootstrap-3.3.6/css/bootstrap.min.css">
	<script data-main="scripts/main" src="scripts/require.js"></script>
</head>
<body data-ng-controller="mainController">
	
	<!-- <div class="alert bg-danger text-danger" ng-show="error">{{errorMessage}}</div> -->
	
	<div class="login-page">
		
		<div class="form">
			<form class="register-form" ng-submit="submitRegister()">
				<h1>The Doctor's Office</h1>
				<input type="text" placeholder="name" ng-model="user.name"/> 
				<input type="text" placeholder="email address" ng-model="user.email"/>
				<input type="password" placeholder="password" ng-model="user.password"/>
				<button>Register</button>
				<p class="message">	
					Already registered? <a href="#">Check-in</a>
				</p>
			</form>
			<form class="login-form" ng-submit="submitCheckin()">
				<h1>The Doctor's Office</h1>
				<input type="text" placeholder="email address" ng-model="user.email"/> 
				<input type="password" placeholder="password" ng-model="user.password"/>
				<button>Check-in</button>
				<p class="message">	
					Not registered? <a href="#">Create a registration</a>
				</p>
			</form>
		</div>
	</div>
</body>
</html>
